<section class="container">
  <div class="content-panel text-left">
    <h1>Checkout</h1>
    <p>Day la trang thanh toan.</p>
    <div class="simple-form">
      <label>
        Ho ten
        <input type="text" placeholder="Nhap ho ten" />
      </label>
      <label>
        Dia chi
        <input type="text" placeholder="Nhap dia chi" />
      </label>
      <label>
        So dien thoai
        <input type="text" placeholder="Nhap so dien thoai" />
      </label>
      <button type="button">Dat hang</button>
    </div>
  </div>
</section>
