<section class="container">
  <div class="content-panel text-left">
    <h1>Contact</h1>
    <p>Day la trang lien he.</p>
    <div class="simple-form">
      <label>
        Ho ten
        <input type="text" placeholder="Nhap ho ten" />
      </label>
      <label>
        Email
        <input type="email" placeholder="Nhap email" />
      </label>
      <label>
        Noi dung
        <textarea rows="5" placeholder="Nhap noi dung"></textarea>
      </label>
      <button type="button">Gui</button>
    </div>
  </div>
</section>
