<section class="container">
  <div class="content-panel text-left">
    <h1>Login</h1>
    <p>Day la trang dang nhap.</p>
    <div class="simple-form">
      <label>
        Email
        <input type="email" placeholder="Nhap email" />
      </label>
      <label>
        Password
        <input type="password" placeholder="Nhap password" />
      </label>
      <button type="button">Dang nhap</button>
    </div>
  </div>
</section>
