<section class="container">
  <div class="content-panel text-left">
    <h1>Wishlist</h1>
    <p>Day la trang danh sach yeu thich.</p>
    <div class="info-list">
      <p>Basic Product</p>
      <p>Blue Shirt</p>
      <p>Leather Bag</p>
    </div>
  </div>
</section>
